.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #353238;
}

.navy {
  background-color: #343a40;
}

ul.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Align the logo to the left */
.navbar a {
  margin-right: auto;
  color: #fff;
  font-weight: 700;
}

.navbar a:hover {
  color: #faebd7;
}

/* Align the links to the right */
.ul {
  display: flex;
  justify-content: flex-end;
}

.ul li {
  margin-left: 20px;
}

.education,
.hero,
.about {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8;
}

.progress {
  background-color: #004953;
}

.progress-bar {
  background-color: #004953;
}

.fa-brands {
  color: #006e7c;
  font-size: 2.5rem;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

.fa-brands:hover {
  transform: scale(1.2);
  color: #004852;
}

.footer {
  background-color: #343a40;
}

.copyright {
  text-align: center;
  color: #adadad;
  font-size: 0.75rem;
}

div[my-footer] {
  text-align: center;
}

.fa-laptop-code {
  font-size: 2rem;
  color: #e0115f;
}

h1,
h2 {
  color: #e0115f;
}

.navbar-toggler {
  background-color: #e0115f;
  border-color: #e0115f;
  color: #fff;
  font-size: 1rem;
}

.lead {
  color: #004953;
}

strong {
  color: #e0115f;
}

.skill {
  color: #004953;
  font-size: 0.9rem;
  font-style: italic;
}

.skills {
  color: #004953;
  font-size: 0.9rem;
}

.btn {
  background-color: #004953;
  border-color: #004953;
  color: #fff;
  border-radius: 4pc;
}

.contact {
  font-style: italic;
  font-size: 1rem;
  color: #004953;
}

a {
  color: #004953;
}

a:hover {
  color: #e0115f;
  text-decoration: none;
}
